<h1>ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <p class="text"><%= f.label :email %></p>
  <p class="textarea"><%= f.email_field :email %><br></p>
  <p class="text"><%= f.label :パスワード %></p>
  <p class="textarea"><%= f.password_field :password %><br></p>
  <%= f.submit "ログイン" %>
<% end %>