<%= form_with(model: @picture, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="picture_title">
      <p class="text"><%= form.label :タイトル %></p>
      <p class="textarea"><%= form.text_field :title %></p>
    </div>
    <div class="picture_content">
      <p class="text"><%= form.label :その気持ち、シェアしよう %></p>
      <p class="textarea"><%= form.text_field :content %></p>
    </div><br>
    <div class="picture_field">
      <%= form.label :"画像 : " %>
      <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div><br>
    <%= form.submit value="投稿" %>
<% end %><br>
<span class="link_btn"><%= link_to "一覧画面にもどる", pictures_path %></span>