<!DOCTYPE html>
<html>
  <head>
    <title>SessionLogin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <p>Facebook_clone</p>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <% if logged_in? %>
        <span class="button"><%= link_to "プロフィール", user_path(current_user.id) %></span>
        <span class="button"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></span>
      <% else %>
        <span class="button"><%= link_to "新規アカウント作成", new_user_path %></span>
        <span  class="button"><%= link_to "ログイン", new_session_path %></span>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <p class="copy">&copy;Facebook_clone</p>
    </footer>
  </body>
</html>
